@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

main {
    min-width: 100%;
    min-height: 100vh;
    
    position: relative;
    /*height: 100vh;
    position: relative;
    */
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 627px;
    width: 311px;

    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
}
section#redes-sociais{
    text-align: right ;
    
    transform: translate(-1%, 20%);
    

}
section#redes-sociais img:hover{
    border: 3px solid rgba(255, 255, 255, 0.712);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
    transition: transform 0.3s, border 1s;
}
section#redes-sociais>a>img {
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
    box-sizing: border-box;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;

}
footer{
    margin: 0px;
    text-align: center;
    color: white;
    background: url(../imagens/fundo-madeira.jpg) no-repeat ;
    background-size: cover;
    position: relative;

}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}
